[Unit]
Description=Encrypted backup for tx9 agent box %i
After=tx9-box@%i.service
Requires=tx9-box@%i.service

[Service]
Type=oneshot
User=tx9
Group=tx9
SupplementaryGroups=kvm
UMask=0077
LoadCredential=backup-passphrase:/etc/tx9/backup-passphrase
ExecStart=/opt/tx9/ops/tx9-host backup %i
TimeoutStartSec=2h
