[Unit]
Description=Verify tx9 agent box %i
After=tx9-box@%i.service
Requires=tx9-box@%i.service

[Service]
Type=oneshot
User=tx9
Group=tx9
SupplementaryGroups=kvm
UMask=0077
ExecStart=/opt/tx9/ops/tx9-host health %i
TimeoutStartSec=3min
